{% extends 'base.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6"><br><br>
            <img src="{{Movie.img.url}}" width="360" height="490"><br>
        </div>
        <div class="col-sm-6"><br><br><br><br><br><br>
            <div class="card" style="width: 27rem;">
  <div class="card-body">
    <h5 class="card-title">{{Movie.name}}</h5>
    <p class="card-text">{{Movie.desc}}</p>
      <p class="card-text">{{Movie.year}}</p>
    <a href="{% url 'movieapp:update' Movie.id  %}" class="btn btn-primary">Update</a>
      <a href="{% url 'movieapp:delete' Movie.id  %}" class="btn btn-danger">Delete</a>
  </div>
</div>

        </div>
    </div>
</div>
</body>
</html>
{% endblock %}